header {
    height: 15vh;
    width: 100%;
}

.primary {
    height: 85vh;
    width: 100%;
}

.logo {
    font-family: "Yellowtail", cursive;
    font-size: 24px;
}

nav a, .nav-link{
    text-decoration: none;
    color: black;
}

.nav-link:hover, .logo:hover {
    color: #646464;
}

.main-text {
    font-family: "Inter", sans-serif;
}

.projects::before {
    margin-top: 10vh;
    content: ''; display: block;
    width: 100%; height: 50vh;
    background-color: #eef6ff;
    transform: skew(0deg, -3deg);
    position: absolute;
    transform-origin: left;
    z-index: -1;
}

.projects h4 {
    padding-top: 15vh;
}
