header {
    height: 15vh;
    width: 100%;
}

.primary {
    height: 85vh;
    width: 100%;
}

.logo {
    font-family: "Yellowtail", cursive;
    font-size: 25px;
}

nav a, .nav-link {
    text-decoration: none;
    color: black !important;
}

.nav-link:hover, .logo:hover {
    color: #646464 !important;
}

.main-text {
    font-family: "Inter", sans-serif;
}

.work_projects::before {
    /* Using the pseudo class before in order to avoid 
    skewing all of the child elements */
    margin-top: 10vh;
    content: ''; display: block;
    width: 100%; height: 80vh;
    background-color: #eef6ff;
    transform: skew(0deg, -3deg);
    position: absolute;
    transform-origin: left;
    z-index: -1;
}

.work_projects h3 {
    padding-top: 15vh;
    font-family: "Inter", sans-serif;
}

.card {
    /* In order to create a transition on enter and on leave, place the transition properties 
    on the actual class like this case, and place the hover effect on the hover */
    transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    border-radius: 25px !important;
}

.card:hover {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 25px 0 rgba(0, 0, 0, 0.12);
    margin-top: -10px;
}
