.logo {
    font-family: "Yellowtail", cursive;
    font-size: 24px;
}

nav a, .nav-link{
    text-decoration: none;
    color: black;
}

.nav-link:hover, .logo:hover {
    color: #646464;
}

.main-text {
    font-family: "Inter", sans-serif;
}